body{
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 16px;
    line-height: 32px;
}
#map_new{
    margin-right:10px;
    margin-bottom:10px;
}
#sample_select {
    font-size:16px;
}
#code_sample{
	padding:10px;
	background-color:#eee;
	margin-bottom:30px;
    margin-left:-1px;
    line-height:20px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright:15px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:15px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:15px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:15px;
	border-top-left-radius:5px;
	border-top-right-radius:15px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:15px;
	-moz-box-shadow:5px 5px 5px #000000;
	-webkit-box-shadow:5px 5px 5px #000000;
	box-shadow:5px 5px 5px #000000;
    border-left:1px solid black;
    overflow:scroll;
}
#paypal {
    font-size:10px;
    line-height:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}
#paypal form {
    margin-left:20px
}
a{
	text-decoration: none;
	color: inherit;
	color:red;
}
div.author_info{
	padding: 0px;
	padding-left: 10px;
    margin: 0px;
    line-height:2em;
}
div.author_info img{
	padding: 2px;
    border: 2px solid #888;
    margin: 0 10px 10px 0;
	background-color: gainsboro;
}
div.author_info p{
    padding:0px;
    margin:0px
}